.DS_Store
docker-compose.override.yml
config/*
!config/example.application-production.properties

data/arangodb

data/marugoto/contents/*
!data/marugoto/contents/ranketwo
!data/marugoto/contents/.gitkeep

data/marugoto/resources/*
!data/marugoto/resources/.gitkeep
